.cartbox {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px 20px;
    margin-top: 2rem
}

h1 {
    color: #921a40 !important
}

.table .quantity {
    display: flex;
    justify-content: space-between;
}

.table .quantity input {
    margin: 0 20px
}

tbody {
    border-top: 1px solid #c61d21;
    border-bottom: 1px solid #c61d21
}

tr td {
    border-bottom: 0;
    text-align: center;
    vertical-align: middle
}

tr td img {
    width: 80px;
    height: 80px;
    border-radius: 50%
}

tr input {
    text-align: center
}

.headCart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headCart span {
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

&:hover {
    background-color: a3e67779;
    color: #FFF !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.total {
    margin-top: 5rem !important
}