.footer {
    background-color: #ecd8d8;
    color: #847177;
    padding: 2rem 0;
    width: 100%;
    overflow-x: auto;
}

.footer-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #921a40;
}

.footer-text {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: #655e60;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 0.5rem;
}

.footer-links a {
    color: #c05778;
    text-decoration: none;
    transition: color 0.3s ease;
}


.footer-links a:hover {
    color: #921A40;
}

.social-links {
    margin-top: 1rem;
}

.social-links a {
    color: #c05778;
    font-size: 1.5rem;
    margin-right: 1rem;
    transition: color 0.3s ease;
    text-align: center;
    align-items: center
}

.social-links a:hover {
    color: #921a40;
}



.input-group {
    margin-top: 1rem;
}

.input-group input {
    border-radius: 0.25rem 0 0 0.25rem;
    padding: 0.5rem;
}

.input-group button {
    border-radius: 0 0.25rem 0.25rem 0;
    padding: 0.5rem 1rem;
}

@media (max-width: 768px) {
    .footer .row {
        text-align: center;
    }

    .footer .col-md-4,
    .footer .col-md-2,
    .footer .col-md-3 {
        margin-bottom: 2rem;
    }

    .social-links {
        justify-content: center;
    }
}